@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	border: none;
}
li{
	list-style: none;
}
.main{
	width: 100%;
	clear: both;
}
.left{
	float: left;
	padding: 10px;
}
.left p{
	padding-left: 15px; 
	cursor: pointer;
	background: url(../images/list-style/arrow_close.gif) no-repeat 0 center;
}
.left .first p.on{
	background: url(../images/list-style/arrow_open.gif) no-repeat 0 center;
}
.left .first{
	margin-top: 20px;
}
.left .first ul{
	display: none;
}
.second, .third, .fourth{
	margin-left: 20px;
}
.first_title{
	font-size: 25px;
}
.second_title{
	font-size: 20px;
}
.first p img{
	vertical-align：middle;
	margin-left: 10px;
	visibility: hidden;
}
.first p.first_title img{
  
}
.first p.second_title img{
  width: 15px;
}
.first p.third_title img, .first p.fourth_title img{
  width: 13px;
}
    /* 最后一级栏目不能下拉 不能继续添加 */
.first .fourth p{
	background: #fff !important;
}
.first .fourth .add{
	display: none;
}